# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/Boards.iml
CreateDB.sql
UML/Boards.mdj
"UML/~$\320\232\320\275\320\270\320\263\320\2601.xlsx"
"src/main/resources/Boards - \320\257\321\200\320\273\321\213\320\272.lnk"
src/main/resources/Buttons/
src/main/resources/EditorButtons/
src/main/resources/Logo.png
src/main/resources/qo1.csv
src/main/resources/sqljdbc42.jar
target/
