#set0 {
    -fx-fill: rgba(255, 255, 255, 0.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.5;
}

#set1 {
    -fx-fill: rgba(191, 191, 191, 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.8;
}

#set2 {
    -fx-fill: rgba(100, 255, 100, 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.5;
}

#set3 {
    -fx-fill: rgba(165, 218, 165 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.8;
}

#set4 {
    -fx-fill: rgba(165, 218, 218 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.8;
}

#set5 {
    -fx-fill: rgba(182, 182, 218 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.8;
}

#set6 {
    -fx-fill: rgba(218, 218, 165, 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.8;
}

#set7 {
    -fx-fill: rgba(218, 218, 165, 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.8;
}

#set8 {
    -fx-fill: rgba(123, 101, 188, 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.8;
}

#set9 {
    -fx-fill: rgba(255, 125, 125, 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.8;
}

#set10 {
    -fx-fill: rgba(95, 95, 95, 1.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 0.8;
}


#txt0 {
    -fx-fill: rgba(60, 60, 60, 0.8);
    -fx-font-size: 9;
    -fx-font-weight: lighter;
    -fx-font-family: monospace;
}

#txt1 {
    -fx-fill: black;
    -fx-font-size: 10;
    -fx-font-weight: bolder;
    -fx-font-family: monospace;
}

#blankbound {
    -fx-fill: rgba(255, 255, 255, 0.0);
    -fx-stroke: rgba(0, 0, 0, 0.5);
    -fx-stroke-width: 0.5;
}

#selbound {
    -fx-fill: rgba(255, 255, 255, 0.0);
    -fx-stroke: rgba(0, 0, 0, 0.8);
    -fx-stroke-width: 1.0;
}

#blankgraphics {
    -fx-fill: rgba(80, 80, 80, 1.0);
    -fx-stroke: rgba(255, 255, 255, 1.0);
    -fx-stroke-width: .5;
}